CH_COPIER_BASEDIR=/var/lib/clickhouse/tmp
CH_COPIER_CONFIG=/var/lib/clickhouse/tmp/zookeeper.xml
CH_COPIER_TASKPATH=/clickhouse/copier/tasks/task01
CH_COPIER_TASKFILE=/var/lib/clickhouse/tmp/task01.xml
COPIER_LOGS=/tmp/copier-logs
export CH_COPIER_BASEDIR CH_COPIER_CONFIG CH_COPIER_TASKPATH CH_COPIER_TASKFILE COPIER_LOGS
